---
import '../styles/global.css';

const { pageTitle = '' } = Astro.props;
const baseTitle = 'Bikepedia'
const fullPageTitle = pageTitle ? `${ pageTitle } - ${ baseTitle }` : baseTitle;
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<title>{ fullPageTitle }</title>

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
	</head>
	<body>
		<div class="mx-auto w-full md:max-w-4xl">
			<header class="border-b-2 flex items-center justify-between mb-10 py-8">
				<div>
					<a href="/" class="bikepedia-logo font-bold text-4xl">Bikepedia</a>
				</div>
				<nav>
					<a href="/" class="hover:font-bold hover:underline">Home</a>
					<a href="/brands" class="ml-4 hover:font-bold hover:underline">Brands</a>
				</nav>
			</header>
		</div>
		<div class="mx-auto w-full md:max-w-4xl">
			<slot />
		</div>
		<div class="mx-auto w-full md:max-w-4xl">
			<footer class="border-t-2 mt-10 pb-12 pt-6 text-right">
				<nav>
					<a href="/" class="hover:font-bold hover:underline">Home</a>
					<a href="/brands" class="ml-4 hover:font-bold hover:underline">Brands</a>
				</nav>
			</footer>
		</div>
	</body>
</html>

<style lang="scss">
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}

	.bikepedia-logo {
		font-family: "Lobster", sans-serif;
		font-weight: 400;
		font-style: normal;
	}
</style>